.carte {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}